<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830398553732-qn2cr35fnn3hdhnimk01mse2tlvl41ts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830398553732-qn2cr35fnn3hdhnimk01mse2tlvl41ts</string>
	<key>API_KEY</key>
	<string>AIzaSyBFuZJ4TtEeJ2_wKwJaUfXAXBY0SX2494Q</string>
	<key>GCM_SENDER_ID</key>
	<string>830398553732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ankityande.MeetApp</string>
	<key>PROJECT_ID</key>
	<string>meetapp-cafdc</string>
	<key>STORAGE_BUCKET</key>
	<string>meetapp-cafdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830398553732:ios:789dadcd258e9f49b96cd1</string>
</dict>
</plist>